.App {
  padding: 200px;
  align-items: center;
  justify-content: center;
}
.App > div {
  height: 20px;
  text-align: center;
  /* display: flex; */
}
.input {
  width: 10px;
  /* display: flex; */
  text-align: center;
}
